/* GENERAL */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f1220;
  color: white;
}

/* HERO SECTION */

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 22px;
  max-width: 800px;
  margin: auto;
  color: #b8bfd8;
  line-height: 1.6;
}

/* GET STARTED BUTTON */

.hero button {
  margin-top: 30px;
  padding: 14px 32px;
  border: none;
  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #ff4d8d,
    #c44cff
  );

  color: white;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}

.hero button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 77, 141, 0.4);
}

/* FEATURE CARDS */

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 80px;
}

.feature-card {
  width: 280px;
  height: 180px;

  background: #1d2740;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(255, 77, 141, 0.25);
}

.feature-card h3 {
  margin-top: 15px;
  font-size: 24px;
}

.icon {
  font-size: 48px;
}

/* ABOUT SECTION */

.about {
  text-align: center;
  padding: 60px 20px;
}

.about h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.about p {
  max-width: 900px;
  margin: auto;
  color: #b8bfd8;
  line-height: 1.8;
  font-size: 22px;
}

/* PERIOD TRACKER */

.tracker {
  text-align: center;
  padding: 80px 20px;
}

.settings {
  margin-bottom: 30px;
}

.settings input {
  margin: 10px;
  padding: 10px;
  width: 160px;
  border-radius: 8px;
  border: none;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.day {
  width: 60px;
  height: 60px;

  background: #1d2740;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;

  cursor: pointer;
  transition: 0.3s;
}

.day:hover {
  transform: scale(1.05);
}

.selected {
  background: #ff4d8d;
  color: white;
}

.tracker button {
  margin-top: 20px;
  padding: 12px 24px;

  border: none;
  border-radius: 10px;

  background: #ff4d8d;
  color: white;

  cursor: pointer;
  font-size: 16px;
}

.prediction {
  margin-top: 30px;
}

.info {
  margin-top: 20px;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 30px;
  color: #b8bfd8;
}